body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    line-height: 30px;
    padding-top: 64px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1111px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 94px;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    list-style: none;   
}

section {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin-top: 48px;
    margin-right: 125px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 48px 0 48px 0;

}

hr {
    min-width: 1111px;
}

p.format {
    width: 635px;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-top: 54px;
}

input{
    width: 635px;
    height: 48px;
    background-color: rgba(51, 50, 61, 0.1);
    mix-blend-mode: normal;
    border: 0px;
    outline: none;
    color: black;
    margin-bottom: 24px;
    padding-left: 10px;
}

textarea {
    width: 635px;
    height: 96px;
    background-color: rgba(51, 50, 61, 0.1);
    mix-blend-mode: normal;
    border: 0px;
    outline: none;
    color: black;
    margin-bottom: 24px;
    padding-left: 10px;
}

button {
    width: 200px;
    padding: 17px 24px;
}

label {
    margin-bottom: 8px;
    font-family: Public Sans;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
}

footer {
    padding: 24px 165px;
    display: flex;
    justify-content: center;
    background-color: #203A4C;
    color: #ffffff;
    width: 100%;
    margin-top: 109px;

}

div.fill div.g1 a {
    color: #ffffff;
}

.fill {
    display: flex;
    width: 1111px;
}

div {
    display: flex;
}

div.g1 {
    flex-grow: 8;
}

.g1 img {
    padding-right: 48px;
}

div.g2 {
    flex-grow: 1;
    justify-content: space-between;
   }